In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import MinMaxScaler

# 3. Data scaling with minimax technique

In [2]:
#load data(sometimes need to use "/")
dummied_new_df = pd.read_csv('C:/Users/user/Desktop/Final_assignment/Data/organics_deleteNA_dummies.csv')
dummied_new_df

,X4,X7,X8,X9,X1_1,X1_2,X2_1,X2_2,X2_3,X2_4,...,X6_6,X6_7,X6_8,X6_9,X6_10,X6_11,X6_12,X10_0,X10_1,Y
0,27,5,70,8,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0.02
1,51,10,65,7,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0.01
2,4,11,68,8,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0.01
3,3,11,74,8,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0.01
4,32,13,62,5,1,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14915,25,14,43,2,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,3336.92
14916,8,13,49,9,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,500.00
14917,9,13,65,5,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1500.00
14918,15,9,70,5,0,1,1,0,0,0,...,0,0,0,0,0,0,1,1,0,6000.00
14919,8,11,66,5,0,1,1,0,0,0,...,0,0,1,0,0,0,0,1,0,5000.00

In [3]:
#minimax scaling
MMscaler=MinMaxScaler(feature_range=(0, 1))
scaling=MMscaler.fit_transform(dummied_new_df)
scaled_data=pd.DataFrame(data=scaling)
scaled_data.columns=['X4','X7','X8','X9','X1_1','X1_2','X2_1','X2_2','X2_3','X2_4','X2_5','X3_1','X3_2','X3_3','X3_4','X5_1','X5_2','X5_3','X5_4','X5_5','X5_6','X5_7','X6_1','X6_2','X6_3','X6_4','X6_5','X6_6','X6_7','X6_8','X6_9','X6_10','X6_11','X6_12','X10_0','X10_1','Y']
scaled_data.head()

,X4,X7,X8,X9,X1_1,X1_2,X2_1,X2_2,X2_3,X2_4,...,X6_6,X6_7,X6_8,X6_9,X6_10,X6_11,X6_12,X10_0,X10_1,Y
0,0.481481,0.147059,0.852459,0.210526,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3.374800e-08
1,0.925926,0.294118,0.770492,0.184211,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000e+00
2,0.055556,0.323529,0.819672,0.210526,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000e+00
3,0.037037,0.323529,0.918033,0.210526,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000e+00
4,0.574074,0.382353,0.721311,0.131579,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000e+00

# 4. Set dependent variable(Y or target) & independent variable(X)

In [4]:
#set x (make prediction) with minimax
scaled_x=scaled_data.drop(['Y'],axis=1).copy()
#set y (want to predict)
y=dummied_new_df['Y'].copy()

# 5.  Hyper parameter tuning

In [6]:
#Split the data (split into 80% training data & 20% testing data) (lock seed) 
#(stratify:make sure both training & testing data set contains same percentage of result)
MAE_all_list=[]
MAPE_all_list=[]
MSE_all_list=[]
RMSE_all_list=[]
for i in range(1,11):
    x_train,x_test,y_train,y_test=train_test_split(scaled_x,y,test_size=0.2,random_state=i)

    # Initializing Classifiers
    clf1 = KNeighborsRegressor()

    # Setting up the parameter grids
    param_grid1 = [{'n_neighbors': list(range(1, 21)),
                    'metric': ['euclidean'],
                    'algorithm':['brute']}]
    cross_val = KFold(n_splits=5,shuffle=True,random_state=4)

    gridS_model = GridSearchCV(estimator=clf1,
                                    param_grid=param_grid1,
                                    scoring='neg_root_mean_squared_error',
                                    n_jobs=-1,
                                    cv=cross_val,
                                    verbose=0,
                                    refit=True)

    
    gridS_model.fit(x_train, y_train) 
    training_score=gridS_model.best_score_  
    best_parameter=gridS_model.best_params_
    train_model=gridS_model.best_estimator_\
    
    #print training result
    print('Round',i)
    print('random_state=',i)
    print('Training score:',training_score)
    print('Best Hyper-parameter set:',best_parameter)
    
    #model result set square = False to return RMSE
    y_pred=gridS_model.predict(x_test)
    MAE=mean_absolute_error(y_test,y_pred)
    MAPE=mean_absolute_percentage_error(y_test,y_pred)
    MSE=mean_squared_error(y_test,y_pred,squared=True)
    RMSE=mean_squared_error(y_test,y_pred,squared=False)


    print('---------------------------------------')
    #print('r2:    ',round(R2,4))
    #print('adj r2:',round(adj_R2,4))
    #print('---------------------------------------')
    print('Metrics')
    print('MAE:   ',round(MAE,2))
    print('MAPE:  ',round(MAPE,2))
    print('MSE:   ',round(MSE,2))
    print('RMSE:  ',round(RMSE,2))
    print('---------------------------------------')
    print('---------------------------------------\n\n')
    
    MAE_all=[round(MAE,2)]
    for r in MAE_all:
        MAE_all_list+=[r]
        
    MAPE_all=[round(MAPE,2)]
    for r in MAPE_all:
        MAPE_all_list+=[r]
        
    MSE_all=[round(MSE,2)]
    for r in MSE_all:
        MSE_all_list+=[r]
    
    RMSE_all=[round(RMSE,2)]
    for r in RMSE_all:
        RMSE_all_list+=[r]
            


best_RMSE=min(RMSE_all_list)
best_round=RMSE_all_list.index(best_RMSE)+1
print('Best_RMSE:',best_RMSE)
print('Best Round:',best_round)
print('---------------------------------------')
print('MAE_mean:',round(np.mean(MAE_all_list),2),',MAE_std:',round(np.std(MAE_all_list),2))
print('MAPE:',round(np.mean(MAPE_all_list),2),',MAPE_std:',round(np.std(MAPE_all_list),2))
print('MSE_mean:',round(np.mean(MSE_all_list),2),',MSE_std:',round(np.std(MSE_all_list),2))
print('RMSE_mean:',round(np.mean(RMSE_all_list),2),',RMSE_std:',round(np.std(RMSE_all_list),2))
# MAE_all_list
# MAPE_all_list
# MSE_all_list
# RMSE_all_list

Round 1
random_state= 1
Training score: -5271.000271382405
Best Hyper-parameter set: {'algorithm': 'brute', 'metric': 'euclidean', 'n_neighbors': 6}
---------------------------------------
Metrics
MAE:    1937.29
MAPE:   2930.53
MSE:    20096460.68
RMSE:   4482.91
---------------------------------------
---------------------------------------


Round 2
random_state= 2
Training score: -5405.627946679348
Best Hyper-parameter set: {'algorithm': 'brute', 'metric': 'euclidean', 'n_neighbors': 5}
---------------------------------------
Metrics
MAE:    1908.6
MAPE:   1797.15
MSE:    15681960.79
RMSE:   3960.05
---------------------------------------
---------------------------------------


Round 3
random_state= 3
Training score: -5420.725230179107
Best Hyper-parameter set: {'algorithm': 'brute', 'metric': 'euclidean', 'n_neighbors': 5}
---------------------------------------
Metrics
MAE:    1877.53
MAPE:   1978.05
MSE:    16102932.64
RMSE:   4012.85
---------------------------------------
---------------------------------------


Round 4
random_state= 4
Training score: -4765.631472677605
Best Hyper-parameter set: {'algorithm': 'brute', 'metric': 'euclidean', 'n_neighbors': 4}
---------------------------------------
Metrics
MAE:    1856.36
MAPE:   1947.01
MSE:    36609460.12
RMSE:   6050.58
---------------------------------------
---------------------------------------


Round 5
random_state= 5
Training score: -5077.385167149268
Best Hyper-parameter set: {'algorithm': 'brute', 'metric': 'euclidean', 'n_neighbors': 5}
---------------------------------------
Metrics
MAE:    1942.1
MAPE:   1513.87
MSE:    24924146.54
RMSE:   4992.41
---------------------------------------
---------------------------------------


Round 6
random_state= 6
Training score: -5308.004125999416
Best Hyper-parameter set: {'algorithm': 'brute', 'metric': 'euclidean', 'n_neighbors': 5}
---------------------------------------
Metrics
MAE:    1942.69
MAPE:   2915.51
MSE:    20601833.03
RMSE:   4538.92
---------------------------------------
---------------------------------------


Round 7
random_state= 7
Training score: -5285.334513245806
Best Hyper-parameter set: {'algorithm': 'brute', 'metric': 'euclidean', 'n_neighbors': 6}
---------------------------------------
Metrics
MAE:    1982.09
MAPE:   1788.27
MSE:    21403810.82
RMSE:   4626.43
---------------------------------------
---------------------------------------


Round 8
random_state= 8
Training score: -5247.403915997014
Best Hyper-parameter set: {'algorithm': 'brute', 'metric': 'euclidean', 'n_neighbors': 5}
---------------------------------------
Metrics
MAE:    1917.22
MAPE:   2016.24
MSE:    19543175.17
RMSE:   4420.77
---------------------------------------
---------------------------------------


Round 9
random_state= 9
Training score: -4639.351665162975
Best Hyper-parameter set: {'algorithm': 'brute', 'metric': 'euclidean', 'n_neighbors': 4}
---------------------------------------
Metrics
MAE:    2008.93
MAPE:   1871.76
MSE:    43133807.26
RMSE:   6567.63
---------------------------------------
---------------------------------------


Round 10
random_state= 10
Training score: -4831.117460829873
Best Hyper-parameter set: {'algorithm': 'brute', 'metric': 'euclidean', 'n_neighbors': 5}
---------------------------------------
Metrics
MAE:    2127.19
MAPE:   2126.89
MSE:    39901477.98
RMSE:   6316.76
---------------------------------------
---------------------------------------


Best_RMSE: 3960.05
Best Round: 2
---------------------------------------
MAE_mean: 1950.0 ,MAE_std: 72.79
MAPE: 2088.53 ,MAPE_std: 445.43
MSE_mean: 25799906.5 ,MSE_std: 9650686.88
RMSE_mean: 4996.93 ,RMSE_std: 911.37

In [10]:
# MAE_all_list
# MAPE_all_list
# MSE_all_list
RMSE_all_list

[4482.91,
 3960.05,
 4012.85,
 6050.58,
 4992.41,
 4538.92,
 4626.43,
 4420.77,
 6567.63,
 6316.76]

In [13]:
x_train,x_test,y_train,y_test=train_test_split(scaled_x,y,test_size=0.2,random_state=2)
model = KNeighborsRegressor(algorithm='brute', metric='euclidean', n_neighbors=5)
model.fit(x_train,y_train)

KNeighborsRegressor(algorithm='brute', metric='euclidean')