In [31]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import MinMaxScaler

# 3. Data scaling with minimax technique

In [20]:
#load data(sometimes need to use "/")
dummied_new_df = pd.read_csv('C:/Users/user/Desktop/Final_assignment/Data/organics_deleteNA_dummies.csv')
dummied_new_df

,X4,X7,X8,X9,X1_1,X1_2,X2_1,X2_2,X2_3,X2_4,...,X6_6,X6_7,X6_8,X6_9,X6_10,X6_11,X6_12,X10_0,X10_1,Y
0,27,5,70,8,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0.02
1,51,10,65,7,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0.01
2,4,11,68,8,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0.01
3,3,11,74,8,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0.01
4,32,13,62,5,1,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14915,25,14,43,2,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,3336.92
14916,8,13,49,9,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,500.00
14917,9,13,65,5,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1500.00
14918,15,9,70,5,0,1,1,0,0,0,...,0,0,0,0,0,0,1,1,0,6000.00
14919,8,11,66,5,0,1,1,0,0,0,...,0,0,1,0,0,0,0,1,0,5000.00

In [23]:
#minimax scaling
MMscaler=MinMaxScaler(feature_range=(0, 1))
scaling=MMscaler.fit_transform(dummied_new_df)
scaled_data=pd.DataFrame(data=scaling)
scaled_data.columns=['X4','X7','X8','X9','X1_1','X1_2','X2_1','X2_2','X2_3','X2_4','X2_5','X3_1','X3_2','X3_3','X3_4','X5_1','X5_2','X5_3','X5_4','X5_5','X5_6','X5_7','X6_1','X6_2','X6_3','X6_4','X6_5','X6_6','X6_7','X6_8','X6_9','X6_10','X6_11','X6_12','X10_0','X10_1','Y']
scaled_data.head()

,X4,X7,X8,X9,X1_1,X1_2,X2_1,X2_2,X2_3,X2_4,...,X6_6,X6_7,X6_8,X6_9,X6_10,X6_11,X6_12,X10_0,X10_1,Y
0,0.481481,0.147059,0.852459,0.210526,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3.374800e-08
1,0.925926,0.294118,0.770492,0.184211,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000e+00
2,0.055556,0.323529,0.819672,0.210526,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000e+00
3,0.037037,0.323529,0.918033,0.210526,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000e+00
4,0.574074,0.382353,0.721311,0.131579,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000e+00

# 4. Set dependent variable(Y or target) & independent variable(X)

In [18]:
#set x (make prediction) with minimax
scaled_x=scaled_data.drop(['Y'],axis=1).copy()
#set y (want to predict)
y=dummied_new_df['Y'].copy()

# 5.  Hyper parameter tuning

In [34]:
#Split the data (split into 80% training data & 20% testing data) (lock seed) 
#(stratify:make sure both training & testing data set contains same percentage of result)
MAE_all_list=[]
MAPE_all_list=[]
MSE_all_list=[]
RMSE_all_list=[]
for i in range(1,11):
    x_train,x_test,y_train,y_test=train_test_split(scaled_x,y,test_size=0.2,random_state=i)

    # Initializing Classifiers
    clf1 = Lasso(random_state=4,max_iter=10000)

    # Setting up the parameter grids
    alphas=np.logspace(-1, -0.001, num=30)
    param_grid1 = [{'alpha':alphas}]
    cross_val = KFold(n_splits=5,shuffle=True,random_state=4)

    gridS_model = GridSearchCV(estimator=clf1,
                                    param_grid=param_grid1,
                                    scoring='neg_root_mean_squared_error',
                                    n_jobs=-1,
                                    cv=cross_val,
                                    verbose=0,
                                    refit=True)

    
    gridS_model.fit(x_train, y_train) 
    training_score=gridS_model.best_score_  
    best_parameter=gridS_model.best_params_
    train_model=gridS_model.best_estimator_\
    
    #print training result
    print('Round',i)
    print('random_state=',i)
    print('Training score:',training_score)
    print('Best Hyper-parameter set:',best_parameter)
    
    #model result set square = False to return RMSE
    y_pred=gridS_model.predict(x_test)
    MAE=mean_absolute_error(y_test,y_pred)
    MAPE=mean_absolute_percentage_error(y_test,y_pred)
    MSE=mean_squared_error(y_test,y_pred,squared=True)
    RMSE=mean_squared_error(y_test,y_pred,squared=False)


    print('---------------------------------------')
    #print('r2:    ',round(R2,4))
    #print('adj r2:',round(adj_R2,4))
    #print('---------------------------------------')
    print('Metrics')
    print('MAE:   ',round(MAE,2))
    print('MAPE:  ',round(MAPE,2))
    print('MSE:   ',round(MSE,2))
    print('RMSE:  ',round(RMSE,2))
    print('---------------------------------------')
    print('---------------------------------------\n\n')
    
    MAE_all=[round(MAE,2)]
    for r in MAE_all:
        MAE_all_list+=[r]
        
    MAPE_all=[round(MAPE,2)]
    for r in MAPE_all:
        MAPE_all_list+=[r]
        
    MSE_all=[round(MSE,2)]
    for r in MSE_all:
        MSE_all_list+=[r]
    
    RMSE_all=[round(RMSE,2)]
    for r in RMSE_all:
        RMSE_all_list+=[r]
            


best_RMSE=min(RMSE_all_list)
best_round=RMSE_all_list.index(best_RMSE)+1
print('Best_RMSE:',best_RMSE)
print('Best Round:',best_round)
print('---------------------------------------')
print('MAE_mean:',round(np.mean(MAE_all_list),2),',MAE_std:',round(np.std(MAE_all_list),2))
print('MAPE:',round(np.mean(MAPE_all_list),2),',MAPE_std:',round(np.std(MAPE_all_list),2))
print('MSE_mean:',round(np.mean(MSE_all_list),2),',MSE_std:',round(np.std(MSE_all_list),2))
print('RMSE_mean:',round(np.mean(RMSE_all_list),2),',RMSE_std:',round(np.std(RMSE_all_list),2))
# MAE_all_list
# MAPE_all_list
# MSE_all_list
# RMSE_all_list

Round 1
random_state= 1
Training score: -4246.827943539136
Best Hyper-parameter set: {'alpha': 0.9977000638225533}
---------------------------------------
Metrics
MAE:    1766.46
MAPE:   8532.75
MSE:    10852298.87
RMSE:   3294.28
---------------------------------------
---------------------------------------


Round 2
random_state= 2
Training score: -4423.419373490977
Best Hyper-parameter set: {'alpha': 0.9977000638225533}
---------------------------------------
Metrics
MAE:    1783.11
MAPE:   7536.28
MSE:    9006994.42
RMSE:   3001.17
---------------------------------------
---------------------------------------


Round 3
random_state= 3
Training score: -4334.338235081525
Best Hyper-parameter set: {'alpha': 0.9977000638225533}
---------------------------------------
Metrics
MAE:    1741.17
MAPE:   8676.57
MSE:    9801252.1
RMSE:   3130.7
---------------------------------------
---------------------------------------


Round 4
random_state= 4
Training score: -3806.6132139951965
Best Hyper-parameter set: {'alpha': 0.9977000638225533}
---------------------------------------
Metrics
MAE:    1753.46
MAPE:   7751.62
MSE:    32175311.08
RMSE:   5672.33
---------------------------------------
---------------------------------------


Round 5
random_state= 5
Training score: -4205.584480983089
Best Hyper-parameter set: {'alpha': 0.9977000638225533}
---------------------------------------
Metrics
MAE:    1732.92
MAPE:   7986.56
MSE:    12977752.23
RMSE:   3602.46
---------------------------------------
---------------------------------------


Round 6
random_state= 6
Training score: -4296.811383034061
Best Hyper-parameter set: {'alpha': 0.9977000638225533}
---------------------------------------
Metrics
MAE:    1795.59
MAPE:   8489.42
MSE:    10882628.81
RMSE:   3298.88
---------------------------------------
---------------------------------------


Round 7
random_state= 7
Training score: -4250.060371057071
Best Hyper-parameter set: {'alpha': 0.9977000638225533}
---------------------------------------
Metrics
MAE:    1833.25
MAPE:   7666.88
MSE:    12639459.49
RMSE:   3555.2
---------------------------------------
---------------------------------------


Round 8
random_state= 8
Training score: -4285.836811370811
Best Hyper-parameter set: {'alpha': 0.9977000638225533}
---------------------------------------
Metrics
MAE:    1779.77
MAPE:   8094.97
MSE:    11452661.46
RMSE:   3384.18
---------------------------------------
---------------------------------------


Round 9
random_state= 9
Training score: -3705.864338529938
Best Hyper-parameter set: {'alpha': 0.9977000638225533}
---------------------------------------
Metrics
MAE:    1827.16
MAPE:   7955.12
MSE:    33875158.98
RMSE:   5820.24
---------------------------------------
---------------------------------------


Round 10
random_state= 10
Training score: -3814.984270887378
Best Hyper-parameter set: {'alpha': 0.9977000638225533}
---------------------------------------
Metrics
MAE:    1916.96
MAPE:   8139.34
MSE:    28071691.91
RMSE:   5298.27
---------------------------------------
---------------------------------------


Best_RMSE: 3001.17
Best Round: 2
---------------------------------------
MAE_mean: 1792.98 ,MAE_std: 51.96
MAPE: 8082.95 ,MAPE_std: 364.78
MSE_mean: 17173520.93 ,MSE_std: 9456398.09
RMSE_mean: 4005.77 ,RMSE_std: 1061.75

In [47]:
x_train,x_test,y_train,y_test=train_test_split(scaled_x,y,test_size=0.2,random_state=2)
model = Lasso(alpha=0.9977000638225533)
model.fit(x_train,y_train)

Lasso(alpha=0.9977000638225533)

In [48]:
importance=model.coef_
importance_sort = np.argsort(importance)[::-1]
df_col = dummied_new_df.columns[0:]
print('Feature Importance')
print('----------------------------------------------')
for i,v in enumerate(importance):
    df_columns=df_col[i]
    print('%s \t  Feature_Imp= %.5f' % (df_columns,v))
print('\n')    
print('Feature ranking')
print('----------------------------------------------')
    
# 依序迭代出重要特徵
for f in range(x_train.shape[1]):
    print(f"{f+1:>2d}) {df_col[importance_sort[f]]:<30s} {importance[importance_sort[f]]:.3f}")

Feature Importance
----------------------------------------------
X4 	  Feature_Imp= -580.84773
X7 	  Feature_Imp= 660.23382
X8 	  Feature_Imp= 1222.19361
X9 	  Feature_Imp= 1111.64453
X1_1 	  Feature_Imp= 79.14941
X1_2 	  Feature_Imp= -0.00000
X2_1 	  Feature_Imp= -12.94375
X2_2 	  Feature_Imp= 186.63913
X2_3 	  Feature_Imp= -116.85536
X2_4 	  Feature_Imp= 0.00000
X2_5 	  Feature_Imp= 0.00000
X3_1 	  Feature_Imp= 28531.30706
X3_2 	  Feature_Imp= 6700.40526
X3_3 	  Feature_Imp= -0.00000
X3_4 	  Feature_Imp= -1842.04665
X5_1 	  Feature_Imp= -220.55704
X5_2 	  Feature_Imp= -281.43782
X5_3 	  Feature_Imp= 63.37076
X5_4 	  Feature_Imp= 0.00000
X5_5 	  Feature_Imp= -187.12712
X5_6 	  Feature_Imp= 249.15855
X5_7 	  Feature_Imp= 0.00000
X6_1 	  Feature_Imp= 580.01512
X6_2 	  Feature_Imp= -234.89032
X6_3 	  Feature_Imp= 170.14324
X6_4 	  Feature_Imp= 99.77139
X6_5 	  Feature_Imp= -13.13731
X6_6 	  Feature_Imp= 54.94140
X6_7 	  Feature_Imp= 6.04142
X6_8 	  Feature_Imp= -204.93002
X6_9 	  Feature_Imp= -18.64055
X6_10 	  Feature_Imp= 0.00000
X6_11 	  Feature_Imp= -0.00000
X6_12 	  Feature_Imp= -0.00000
X10_0 	  Feature_Imp= -19.62291
X10_1 	  Feature_Imp= 0.00000


Feature ranking
----------------------------------------------
 1) X3_1                           28531.307
 2) X3_2                           6700.405
 3) X8                             1222.194
 4) X9                             1111.645
 5) X7                             660.234
 6) X6_1                           580.015
 7) X5_6                           249.159
 8) X2_2                           186.639
 9) X6_3                           170.143
10) X6_4                           99.771
11) X1_1                           79.149
12) X5_3                           63.371
13) X6_6                           54.941
14) X6_7                           6.041
15) X10_1                          0.000
16) X5_7                           0.000
17) X3_3                           -0.000
18) X6_12                          -0.000
19) X6_11                          -0.000
20) X6_10                          0.000
21) X2_4                           0.000
22) X2_5                           0.000
23) X5_4                           0.000
24) X1_2                           -0.000
25) X2_1                           -12.944
26) X6_5                           -13.137
27) X6_9                           -18.641
28) X10_0                          -19.623
29) X2_3                           -116.855
30) X5_5                           -187.127
31) X6_8                           -204.930
32) X5_1                           -220.557
33) X6_2                           -234.890
34) X5_2                           -281.438
35) X4                             -580.848
36) X3_4                           -1842.047